<h1>
    Welcome on Meadowlark Travel
</h1>
<p>Have any questions ?
    <a href="/about" data-test-id="about">About us</a>
</p>
<form action="#" method="post">
    <input type="hidden" name="hush" val="Hidden, but not secret">
    <div>
        <label for="fieldColor">Your favorite color: </label>
        <input type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button type="submit">Send</button>
    </div>
</form>
